body{
    /* background-image: url('images/dark_background.jpg');
    background-size: cover;
    background-repeat: no-repeat; */
    color: white;
    font-family: verdana;
    margin: 0;
}

.home{
    background-image: url('images/dark_background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 20%;
}

nav{
    background-color: white;
    /* border-width: 0px 0px 3px 0px;
    border-style:solid;
    border-color:black; */
    box-shadow: black 2px 3px 8px;
    padding-left: 10%;
    padding-bottom: 1%;
    padding-top: 1%;
    position: sticky;
    top: 0;
    #nav_name{
        font-size: xx-large;
        background-image: linear-gradient(to right, blue,blue,purple,purple);
        background-clip: text;
        -webkit-text-fill-color: transparent;
        margin-left: 1%;
    }
    a{
        color: grey;
        text-decoration: none;
        margin-left: 3%;
        
    }
    #home{
        margin-left: 35%;
    }
    a:hover{
        text-decoration: underline;
        color: black;
    }
}

.greet{
    margin: 0% 0% 0% 10%;
    padding-top: 10%;
    #name{
        color: blueviolet;
    }
    h1, h4{
        width: fit-content;
    }
    #hi:hover{
        transform: scale(110%, 110%);
        transition-duration: 1s;
    }
    h4:hover{
        transform: scale(105%,150%);
        transition-duration: 1s;
    }
    font-size: x-large;
    #home_btn{
        background-color: blueviolet;
        color: white;
        padding: 10px 30px;
        border-radius: 20%;
        box-shadow: darkmagenta 1px 1px 1px 1px;
        
    }
    a{
        text-decoration: none;
        color: white;
        font-weight: bolder;
    }
    a:hover{
        text-decoration: underline;
    }
    #myImage1{
        border-radius: 50%;
        float: right;
        margin-right: 10%;
        box-shadow: black 2px 3px 8px 4px;
    }
    #myImage1:hover{
        box-shadow: black 2px 3px 10px 8px;
        transform:scale(110%,110%);
        transition-duration: 0.5s;
    }
    
    #role{
        color:yellow;
        text-shadow: black 2px 3px 2px;
    }
    #linkedin, #gmail{
        border-radius: 20%;
    }
}

.about{
    color: black;
    /* margin-bottom: 7%; */
    margin-right: 5%;
    text-align: justify;
    margin-top: 4%;
    padding-top: 1%;

    #title_about{
        font-size: 35px;
        margin-bottom: 4%;
        margin-left: 1%;
        span{
            color: blueviolet;
        }
    }
    #profile{
        margin-top: 0%;
        float: left;
        margin-left: 40%;
    }
    #name_about{
        font-size: xx-large;
        #fname{
            color: blueviolet;
            text-shadow: black 1px 1px 2px;
        }
        #lname{
            color: yellow;
            text-shadow: black 1px 1px 2px;
        }
    }
    #role_about{
        font-size: smaller;
    }
    p{
        font-size: 12px;
    }
    #self{
        margin-bottom: 3%;
    }
    #myImage2{
        float: left;
        margin-right: 15%;
        border-radius: 20px;
        margin-top: 0%;
        box-shadow: black 2px 2px 4px 3px;
    }

    .content_about{
        margin-top: 4%;
        width: fit-content;
        margin-left: 10%;
        font-size: x-large;
        
    }
    
    .text:hover{
        transform: translate(-20px,0px);
        transition-duration: 2s;
    }
    #myImage2:hover{
        transform: scale(115%,115%);
        transition-duration: 1s;
    }
    #place, #email{
        color: rgb(113, 8, 210);
    }
    .place{
        margin-bottom: 3%;
    }

    #btn_resume{
        background-color: darkblue;
        color: white;
        padding: 10px 20px 14px 20px;
        margin-left: 33%;
        border-radius: 5%;
        border: none;
        box-shadow: blue 2px 2px 10px 1px;
        text-decoration: none;
        font-size: 16px;
        
    }
    #btn_resume:hover{
        background-color: blue;
    }
    .fill{
        height: 90px;
        width: 105%;
        background-color: blueviolet;
        margin-top: 10%;
    }
}

#skills_click, #edu_click, #contact_click{
    padding-bottom: 3%;
}

.skills{
    background-color: yellow;
    padding: 2% 10% 5% 10%;
    #skill_logo{
        float: left;
        margin-left: 30%;
        margin-top: 1%;
    }
    #title_skills{
        color: black;
        text-shadow: black 1px 1px 2px;
        font-size: 35px;
        margin-bottom: 5%;
        margin-left: 35%;
        span{
            color: blueviolet;
        }
        
    }
    .content{
        background-color: orange;
        width: 60%;
        padding: 5% 4%;
        margin: 0% 15%;
        border-radius: 10px;
        display: grid;
        
    }
    .logos{
        img{
            border-radius: 10px;
            margin: 2% 0% 0% 3%;
            border: 0.8px solid black;
            padding: 1%;
            background-color: rgb(30, 2, 56);
        }
        #p, #h, #cs, #j{
            margin-left: 6%;
        }
        #h, #cs, #j{
            margin-left: 15%;
        }

        #cl, #d, #ms, #msq{
            margin-left: 5%;
        }
        #d{
            margin-left: 10%;
        }
        #ms, #msq{
            margin-left: 11%;
        }
        .titles2{
            margin-top: 3%;
        }
        img:hover{
            transform: scale(110%,110%);
            background-color: yellow;
            transition-duration: 1s;

        }
    }
}

.education{
    background-color: rgb(221, 240, 247);
    padding-top: 4%;
    padding-bottom: 5%;
    #edu_logo{
        float: left;
        margin-left: 40%;
        margin-top: 0%;
    }
    #title_edu{
        color: black;
        /* text-shadow: black 1px 1px 2px; */
        font-size: 35px;
        margin-bottom: 1%;
        margin-left: 45%;
        span{
            color: #8a2be2;
        }
        
    }
    #edu_quote{
        color: black;
        margin-bottom: 4%;
        margin-left: 30%;
    }
    .content{
        align-items: center;
        color: black;
    
        h3{
            color: blue;
            text-shadow: black 0.5px 0.5px 1px;
            font-size: large;
        }
        #jntuk{
            float: left;
            margin-right: 1%;
            border-radius: 5px;
            /* box-shadow: black 1px 1px 1px 1px; */
        }
        .q1{
            font-size: 13px;
            width: 63%;
            box-shadow: black 1px 1px 10px 0px;
            margin-left: 20%;
            padding: 0% 2% 1% 0%;
            margin-bottom: 3%;
            border-radius: 5px;
            background-color: beige;
        }
        .q1:hover{
            box-shadow: black 2px 2px 10px 4px;
        }
        .q_text{
            padding-top: 1%;
            margin-left: 5%;
        }
        .q2{
            font-size: 13px;
            width: 63%;
            box-shadow: black 1px 1px 10px 0px;
            margin-left: 20%;
            padding: 0% 2% 1% 0%;
            margin-bottom: 3%;
            border-radius: 5px;
            background-color: beige;
        }
        .q2:hover{
            box-shadow: black 2px 2px 10px 4px;
        }
    }
}


.Projects{
    background-color: rgb(3, 3, 111);
    color: white;
    padding-bottom: 5%;
    #skill_logo{
        float: left;
        margin-left: 35%;
        margin-top: 0.5%;
    }
    #title_skills{
        text-shadow: black 1px 1px 2px;
        font-size: 35px;
        margin-bottom: 3%;
        margin-left: 40%;
        span{
            color: blueviolet;
        }
        
    }
    #project_click{
        font-size: 2px;
        margin-bottom: 5%;
    }
    .projects_content{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 15%;
        
        
        #pro1,#pro2,#pro3,#pro4{
            a{
                text-decoration: none;
            }
            img{
                border-radius: 7px 7px 0px 0px;
                margin-bottom: 1%;
            }
            b{
                background-color: yellow;
                color: black;
                padding: 2% 9.58%;
                border-radius: 0px 0px 7px 7px;
            }
            border-radius: 7px;
            box-shadow: black 2px 2px 4px 3px;
        }
        img:hover{
            box-shadow: black 4px 4px 8px 5px;
        }
        
        #pro1:hover{
            transform: scale(110%,110%);
            transition-duration: 0.3s ;
        }
        #pro2:hover{
            transform: scale(110%,110%);
            transition-duration: 0.3s ;
        }
        #pro3:hover{
            transform: scale(110%,110%);
            transition-duration: 0.3s ;
        }
        #pro4:hover{
            transform: scale(110%,110%);
            transition-duration: 0.3s ;
        }

        #pro3,#pro4{
            margin-top: 5%;
        }

        #pro2{
            b{
                padding-left: 32%;
                padding-right: 30%;
            }
        }
        #pro3{
            b{
                padding-left: 20%;
                padding-right: 19%;
            }
        }
        #pro4{
            b{
                padding-left: 11.3%;
                padding-right: 14.5%;
            }
        }

    }

}


.contact{
    background-color: rgb(221, 240, 247);
    padding-top: 1%;
    #edu_logo{
        float: left;
        margin-left: 40%;
        margin-top: 0%;
    }
    #title_contact{
        color: black;
        /* text-shadow: black 1px 1px 2px; */
        font-size: 35px;
        margin-bottom: 5%;
        margin-left: 45%;
        span{
            color: #8a2be2;
        }
        
    }
    .content{
        background-color: white;
        border-radius: 20px;
        padding: 5%;
        width: 70%;
        margin-left: 10%;
        margin-bottom: 5%;
        box-shadow: grey 2px 2px 6px 2px;

        #content_img{
            float: left;
            margin-right: 10%;
        }
        input{
            background-color: rgb(221, 240, 247);
            padding-top: 10px;
            padding-bottom: 10px;
            padding-left: 20px;
            width: 35%;
            border: none;
            border: 1px solid grey;
            border-radius: 5px;
        }
        input::placeholder{
            font-size: large;
        }
        input:hover{
            box-shadow: blueviolet 0.5px 0.5px 5px 1px;
        }
        textarea{
            width: 35%;
            padding-left: 20px;
            background-color: rgb(221, 240, 247);
            border-radius: 5px;
        }
        textarea::placeholder{
            font-size: x-large;
        }
        textarea:hover{
            box-shadow: blueviolet 1px 1px 10px 2px;
        }
        #submit{
            padding: 10px;
            width: 10%;
            background-color: blue;
            color: white;
            border-radius: 5px;
        }
    }

    .footer{
        background-color: darkblue;
        #BClogo{
            float: left;
            position: relative;
            left: 20%;
            padding-top: 3%;
        }
        
        .sub_footer{
            display: flex;
            gap: 6%;

            .greet{
                width: 30%;
                p{
                    font-size: 15px;
                }
            }
            .links{

                p{
                    font-size: 15px;
                }
                a{
                    text-decoration: none;
                    color: white;
                }
                span{
                    color: black;
                    background-color: white;
                    border-radius: 50%;
                }
            }
            .info{
                p{
                    font-size: 15px;
                }
            }
        }
        hr{
            width: 70%;
        }
        #credits{
            text-align: center;
            padding: 5px;
            padding-bottom: 1%;
            span{
                color: yellow;
            }
        }
    }
}
